<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>The App</h1>
                <!-- 
                <app-goal *ngFor="let goal of courseGoals"
                [goal]="goal"
                [ngClass]="{active: goal.isActiveGoal}"
                (click)="goal.isActiveGoal = !goal.isActiveGoal"></app-goal>
                 -->
                 <div class="interesting">
                        <app-quote
                        (click)="isFavorite = !isFavorite"
                        [ngClass]="{'favorite super-favorite': isFavorite}"
                        [ngStyle]="{'width.px': isFavorite ? 600 : 400 }"
                        >
                         </app-quote>
                 
                 <button class="btn btn-primary my-2" 
                 (click)="onShowBoring(boringBlock)">Show boring Quotes</button>

                 <div class="boring" #boringBlock>
                    
                    <app-quote></app-quote>
                    
                    <div id="very-boring">
                        <app-quote ></app-quote>
                    </div>
                 </div>
                
        </div>
    </div>
</div>



<router-outlet></router-outlet>
