h1 {
    color:red;
}

/* special selector ANGULAR */
:host{
    display: block;
    border: 1px solid black;
    padding: 20px;
    margin: 0px;
    width: 300px;
    /* background-color: lightblue; */
}

/* applies the style if the component is marked with the classs favorite */
:host(.favorite){
    border: 1px solid red;
    padding: 18px;
}

/* applies the style if the component is child of any element
 with the classs boring */
:host-context(.boring){
    border: 1px solid #ccc;
}
/* same as before but also it must be child of the element with id: very-boring */
:host-context(.boring #very-boring){
    color: #ccc;
}


/* aplies the setup for the component and classes or elements
elements present in any of the component's children and so on.. deeply */
:host-context(.boring #very-boring) /deep/ h1{
    color: #ccc;
}
